In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import regex as re
import os

## Supressing warnings:
import warnings
warnings.filterwarnings("ignore")

## importing essential spark libraries:
# !pip install pyspark
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, count, when, regexp_replace, isnan
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType

#### The first step towards your adventure in Spark is to create a Spark Session. It is the entry point to the Spark ecosystem. Once you reach the Spark environment via the entry point, you can freely create and manipulate Spark RDDs, Dataframes and Datasets.

## What is a RDD?

You might be wondering what this new term is. Well RDD stands for Resilient Distributed Dataset. It is the fundamental data structure of Spark.

#### SparkSession will be created using SparkSession.builder() builder patterns::

In [4]:
##  Creating a Spark session:
spark = SparkSession.builder.appName('Sample').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/16 17:11:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
## Quick glance at the object
spark

Here, the spark object acts as the gateway to the Spark ecosystem. 

Next in order to Read the CSV data, we use the read.csv functionality:

In [33]:
df=spark.read.csv("/kaggle/input/food-delivery-dataset/train.csv",
                  header=True,
                  inferSchema=True)
#  Parameters:
## - inferSchema parameter ensures that the data formatting stays the same as the original dataframe. If False, then the 
##     columns will be of class string.
## - header parameter tells that the columns names are provided along with the dataset.

## Displaying the first 5 rows:
df.show(5)

+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-------------------+--------------------+--------------------+-----------------+-------------+---------------+-------------------+--------+--------------+---------------+
|     ID|Delivery_person_ID|Delivery_person_Age|Delivery_person_Ratings|Restaurant_latitude|Restaurant_longitude|Delivery_location_latitude|Delivery_location_longitude|Order_Date|Time_Orderd|  Time_Order_picked|   Weatherconditions|Road_traffic_density|Vehicle_condition|Type_of_order|Type_of_vehicle|multiple_deliveries|Festival|          City|Time_taken(min)|
+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-------------------+--------------------+--------------------+-----------------+-------------+---------------+-------------------+--------+--------------+---------------+
|0x4607 |   INDORES13DEL02 |               37.0|                    4.9|          22.745049|           75.892471|                 22.765049|                  75.912471|19-03-2022|   11:30:00|2023-08-16 11:45:00|    conditions Sunny|               High |                2|       Snack |    motorcycle |                0.0|     No |        Urban |       (min) 24|
|0xb379 |   BANGRES18DEL02 |               34.0|                    4.5|          12.913041|           77.683237|                 13.043041|                  77.813237|25-03-2022|   19:45:00|2023-08-16 19:50:00|   conditions Stormy|                Jam |                2|       Snack |       scooter |                1.0|     No |Metropolitian |       (min) 33|
|0x5d6d |   BANGRES19DEL01 |               23.0|                    4.4|          12.914264|             77.6784|                 12.924264|                    77.6884|19-03-2022|   08:30:00|2023-08-16 08:45:00|conditions Sandst...|                Low |                0|      Drinks |    motorcycle |                1.0|     No |        Urban |       (min) 26|
|0x7a6a |  COIMBRES13DEL02 |               38.0|                    4.7|          11.003669|           76.976494|                 11.053669|                  77.026494|05-04-2022|   18:00:00|2023-08-16 18:10:00|    conditions Sunny|             Medium |                0|      Buffet |    motorcycle |                1.0|     No |Metropolitian |       (min) 21|
|0x70a2 |   CHENRES12DEL01 |               32.0|                    4.6|          12.972793|           80.249982|                 13.012793|                  80.289982|26-03-2022|   13:30:00|2023-08-16 13:45:00|   conditions Cloudy|               High |                1|       Snack |       scooter |                1.0|     No |Metropolitian |       (min) 30|
+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-------------------+--------------------+--------------------+-----------------+-------------+---------------+-------------------+--------+--------------+---------------+
only showing top 5 rows

In [41]:
## To convert a spark dataframe into a pandas dataframe
df.toPandas().head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,2023-08-16 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0.0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,2023-08-16 19:50:00,conditions Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,2023-08-16 08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,2023-08-16 18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,2023-08-16 13:45:00,conditions Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,(min) 30

#### As you can see above, Time_taken(min) is the target variable.

#### Now we have read the csv file into Spark. Lets view the dataframe:

In [7]:
## Viewing the type
type(df)

pyspark.sql.dataframe.DataFrame

#### Printing the schema of the dataframe

In [8]:
## Printing the attributes of the table:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Delivery_person_ID: string (nullable = true)
 |-- Delivery_person_Age: double (nullable = true)
 |-- Delivery_person_Ratings: double (nullable = true)
 |-- Restaurant_latitude: double (nullable = true)
 |-- Restaurant_longitude: double (nullable = true)
 |-- Delivery_location_latitude: double (nullable = true)
 |-- Delivery_location_longitude: double (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Time_Orderd: string (nullable = true)
 |-- Time_Order_picked: timestamp (nullable = true)
 |-- Weatherconditions: string (nullable = true)
 |-- Road_traffic_density: string (nullable = true)
 |-- Vehicle_condition: integer (nullable = true)
 |-- Type_of_order: string (nullable = true)
 |-- Type_of_vehicle: string (nullable = true)
 |-- multiple_deliveries: double (nullable = true)
 |-- Festival: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Time_taken(min): string (nullable = true)

In [15]:
## Displaying the first 5 rows in the form of col-value pairs
df.head(5)

[Row(ID='0x4607 ', Delivery_person_ID='INDORES13DEL02 ', Delivery_person_Age=37.0, Delivery_person_Ratings=4.9, Restaurant_latitude=22.745049, Restaurant_longitude=75.892471, Delivery_location_latitude=22.765049, Delivery_location_longitude=75.912471, Order_Date='19-03-2022', Time_Orderd='11:30:00', Time_Order_picked=datetime.datetime(2023, 8, 16, 11, 45), Weatherconditions='conditions Sunny', Road_traffic_density='High ', Vehicle_condition=2, Type_of_order='Snack ', Type_of_vehicle='motorcycle ', multiple_deliveries=0.0, Festival='No ', City='Urban ', Time_taken(min)='(min) 24'),
 Row(ID='0xb379 ', Delivery_person_ID='BANGRES18DEL02 ', Delivery_person_Age=34.0, Delivery_person_Ratings=4.5, Restaurant_latitude=12.913041, Restaurant_longitude=77.683237, Delivery_location_latitude=13.043041, Delivery_location_longitude=77.813237, Order_Date='25-03-2022', Time_Orderd='19:45:00', Time_Order_picked=datetime.datetime(2023, 8, 16, 19, 50), Weatherconditions='conditions Stormy', Road_traffic_density='Jam ', Vehicle_condition=2, Type_of_order='Snack ', Type_of_vehicle='scooter ', multiple_deliveries=1.0, Festival='No ', City='Metropolitian ', Time_taken(min)='(min) 33'),
 Row(ID='0x5d6d ', Delivery_person_ID='BANGRES19DEL01 ', Delivery_person_Age=23.0, Delivery_person_Ratings=4.4, Restaurant_latitude=12.914264, Restaurant_longitude=77.6784, Delivery_location_latitude=12.924264, Delivery_location_longitude=77.6884, Order_Date='19-03-2022', Time_Orderd='08:30:00', Time_Order_picked=datetime.datetime(2023, 8, 16, 8, 45), Weatherconditions='conditions Sandstorms', Road_traffic_density='Low ', Vehicle_condition=0, Type_of_order='Drinks ', Type_of_vehicle='motorcycle ', multiple_deliveries=1.0, Festival='No ', City='Urban ', Time_taken(min)='(min) 26'),
 Row(ID='0x7a6a ', Delivery_person_ID='COIMBRES13DEL02 ', Delivery_person_Age=38.0, Delivery_person_Ratings=4.7, Restaurant_latitude=11.003669, Restaurant_longitude=76.976494, Delivery_location_latitude=11.053669, Delivery_location_longitude=77.026494, Order_Date='05-04-2022', Time_Orderd='18:00:00', Time_Order_picked=datetime.datetime(2023, 8, 16, 18, 10), Weatherconditions='conditions Sunny', Road_traffic_density='Medium ', Vehicle_condition=0, Type_of_order='Buffet ', Type_of_vehicle='motorcycle ', multiple_deliveries=1.0, Festival='No ', City='Metropolitian ', Time_taken(min)='(min) 21'),
 Row(ID='0x70a2 ', Delivery_person_ID='CHENRES12DEL01 ', Delivery_person_Age=32.0, Delivery_person_Ratings=4.6, Restaurant_latitude=12.972793, Restaurant_longitude=80.249982, Delivery_location_latitude=13.012793, Delivery_location_longitude=80.289982, Order_Date='26-03-2022', Time_Orderd='13:30:00', Time_Order_picked=datetime.datetime(2023, 8, 16, 13, 45), Weatherconditions='conditions Cloudy', Road_traffic_density='High ', Vehicle_condition=1, Type_of_order='Snack ', Type_of_vehicle='scooter ', multiple_deliveries=1.0, Festival='No ', City='Metropolitian ', Time_taken(min)='(min) 30')]

In [19]:
## Basic statistics of the data:
df.describe()    ### df.summary()
df.describe().show()

23/08/16 17:18:28 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+--------------------+------------------+-------------+---------------+-------------------+--------+--------------+---------------+
|summary|     ID|Delivery_person_ID|Delivery_person_Age|Delivery_person_Ratings|Restaurant_latitude|Restaurant_longitude|Delivery_location_latitude|Delivery_location_longitude|Order_Date|Time_Orderd|Weatherconditions|Road_traffic_density| Vehicle_condition|Type_of_order|Type_of_vehicle|multiple_deliveries|Festival|          City|Time_taken(min)|
+-------+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+--------------------+------------------+-------------+---------------+-------------------+--------+--------------+---------------+
|  count|  45593|             45593|              45593|                  45593|              45593|               45593|                     45593|                      45593|     45593|      45593|            45593|               45593|             45593|        45593|          45593|              45593|   45593|         45593|          45593|
|   mean|   null|              null|                NaN|                    NaN| 17.017728506525582|   70.23133233807862|        17.465185865088966|          70.84570225567651|      null|        NaN|             null|                 NaN|  1.02335884894611|         null|           null|                NaN|     NaN|           NaN|           null|
| stddev|   null|              null|                NaN|                    NaN|  8.185108965214452|   22.88364722309305|        7.3351219945143376|         21.118811879085857|      null|        NaN|             null|                 NaN|0.8390647867161859|         null|           null|                NaN|     NaN|           NaN|           null|
|    min|0x1000 |   AGRRES010DEL01 |               15.0|                    1.0|         -30.905562|          -88.366217|                      0.01|                       0.01|01-03-2022|   00:00:00|conditions Cloudy|               High |                 0|      Buffet |       bicycle |                0.0|    NaN |Metropolitian |       (min) 10|
|    max| 0xffe |    VADRES20DEL03 |                NaN|                    NaN|          30.914057|           88.433452|                 31.054057|                  88.563452|31-03-2022|       NaN | conditions Windy|                NaN |                 3|       Snack |       scooter |                NaN|    Yes |        Urban |       (min) 54|
+-------+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+--------------------+------------------+-------------+---------------+-------------------+--------+--------------+---------------+

In [22]:
## Shape of the dataframe is:
df.count(),len(df.columns)

(45593, 20)

In [25]:
## Checking for null values:
df.select([count(when(col(c).isNull(), c)). \
                             alias(c) for c in df.columns]).show()

+---+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+---------------+-------------------+--------+----+---------------+
| ID|Delivery_person_ID|Delivery_person_Age|Delivery_person_Ratings|Restaurant_latitude|Restaurant_longitude|Delivery_location_latitude|Delivery_location_longitude|Order_Date|Time_Orderd|Time_Order_picked|Weatherconditions|Road_traffic_density|Vehicle_condition|Type_of_order|Type_of_vehicle|multiple_deliveries|Festival|City|Time_taken(min)|
+---+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+---------------+-------------------+--------+----+---------------+
|  0|                 0|                  0|                      0|                  0|                   0|                         0|                          0|         0|          0|                0|                0|                   0|                0|            0|              0|                  0|       0|   0|              0|
+---+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+---------------+-------------------+--------+----+---------------+

#### Looks like there are no null values.

In [44]:
## Checking the dtypes:
df.dtypes

[('ID', 'string'),
 ('Delivery_person_ID', 'string'),
 ('Delivery_person_Age', 'double'),
 ('Delivery_person_Ratings', 'double'),
 ('Restaurant_latitude', 'double'),
 ('Restaurant_longitude', 'double'),
 ('Delivery_location_latitude', 'double'),
 ('Delivery_location_longitude', 'double'),
 ('Order_Date', 'string'),
 ('Time_Orderd', 'string'),
 ('Time_Order_picked', 'timestamp'),
 ('Weatherconditions', 'string'),
 ('Road_traffic_density', 'string'),
 ('Vehicle_condition', 'int'),
 ('Type_of_order', 'string'),
 ('Type_of_vehicle', 'string'),
 ('multiple_deliveries', 'double'),
 ('Festival', 'string'),
 ('City', 'string'),
 ('Time_taken(min)', 'string')]

In [45]:
df.select([col("ID"),col('Delivery_person_ID')]).show()

+-------+------------------+
|     ID|Delivery_person_ID|
+-------+------------------+
|0x4607 |   INDORES13DEL02 |
|0xb379 |   BANGRES18DEL02 |
|0x5d6d |   BANGRES19DEL01 |
|0x7a6a |  COIMBRES13DEL02 |
|0x70a2 |   CHENRES12DEL01 |
|0x9bb4 |    HYDRES09DEL03 |
|0x95b4 | RANCHIRES15DEL01 |
|0x9eb2 |    MYSRES15DEL02 |
|0x1102 |    HYDRES05DEL02 |
|0xcdcd |    DEHRES17DEL01 |
|0xd987 |    KOCRES16DEL01 |
|0x2784 |   PUNERES13DEL03 |
|0xc8b6 |   LUDHRES15DEL02 |
|0xdb64 |    KNPRES14DEL02 |
|0x3af3 |    MUMRES15DEL03 |
|0x3aab |    MYSRES01DEL01 |
|0x689b |   PUNERES20DEL01 |
|0x6f67 |    HYDRES14DEL01 |
|0xc9cf |    KOLRES15DEL03 |
|0x36b8 |   PUNERES19DEL02 |
+-------+------------------+
only showing top 20 rows

In [50]:
## Have to correct the datatypes of some columns. Delivery_person_Age, Vehicle_condition, multiple_deliveries
df=df.withColumn('Delivery_person_Age',col('Delivery_person_Age').cast(IntegerType()))\
.withColumn('Vehicle_condition',col('Vehicle_condition').cast(IntegerType()))\
.withColumn('multiple_deliveries',col('multiple_deliveries').cast(IntegerType()))

In [51]:
df.dtypes

[('ID', 'string'),
 ('Delivery_person_ID', 'string'),
 ('Delivery_person_Age', 'int'),
 ('Delivery_person_Ratings', 'double'),
 ('Restaurant_latitude', 'double'),
 ('Restaurant_longitude', 'double'),
 ('Delivery_location_latitude', 'double'),
 ('Delivery_location_longitude', 'double'),
 ('Order_Date', 'string'),
 ('Time_Orderd', 'string'),
 ('Time_Order_picked', 'timestamp'),
 ('Weatherconditions', 'string'),
 ('Road_traffic_density', 'string'),
 ('Vehicle_condition', 'int'),
 ('Type_of_order', 'string'),
 ('Type_of_vehicle', 'string'),
 ('multiple_deliveries', 'int'),
 ('Festival', 'string'),
 ('City', 'string'),
 ('Time_taken(min)', 'string')]

In [53]:
df.toPandas().head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,2023-08-16 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,2023-08-16 19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,2023-08-16 08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,2023-08-16 18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,2023-08-16 13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [56]:
### There are 1320 unique IDs
df.select('Delivery_person_ID').distinct().count()

1320

In [60]:
### Counts of unique delivery person ids::
df.select('Delivery_person_ID').distinct().show()  ### 20 
df.groupBy('Delivery_person_ID').count().orderBy('count').show()

+------------------+
|Delivery_person_ID|
+------------------+
|    SURRES11DEL01 |
|    GOARES02DEL01 |
|    KNPRES09DEL03 |
|    KOCRES02DEL01 |
|    KOLRES08DEL01 |
|    BHPRES13DEL03 |
|    ALHRES06DEL02 |
|    BHPRES05DEL02 |
|    GOARES03DEL03 |
|    VADRES16DEL02 |
|    VADRES04DEL02 |
|  COIMBRES07DEL01 |
|    KNPRES08DEL03 |
|   LUDHRES09DEL01 |
|    KOCRES09DEL01 |
|   MUMRES010DEL02 |
| RANCHIRES11DEL01 |
|    HYDRES09DEL02 |
|    DEHRES06DEL02 |
|    BHPRES09DEL03 |
+------------------+
only showing top 20 rows

+------------------+-----+
|Delivery_person_ID|count|
+------------------+-----+
|   BHPRES010DEL03 |    5|
|    KOLRES09DEL03 |    6|
|    KOCRES16DEL03 |    6|
|    BHPRES15DEL03 |    7|
|   AURGRES13DEL03 |    7|
|    GOARES01DEL03 |    7|
|   AURGRES11DEL03 |    7|
|    DEHRES18DEL03 |    7|
|   LUDHRES01DEL03 |    8|
|    GOARES11DEL01 |    8|
|    KOLRES08DEL03 |    8|
|    BHPRES06DEL03 |    8|
|   AURGRES06DEL03 |    8|
|   GOARES010DEL03 |    8|
|    BHPRES11DEL03 |    8|
|    GOARES19DEL03 |    8|
|    AGRRES11DEL02 |    8|
|    GOARES13DEL03 |    8|
|    GOARES05DEL03 |    8|
|    BHPRES09DEL03 |    8|
+------------------+-----+
only showing top 20 rows

### Feature Engineering Overview: As observed from the above dataset, we can extract the following

1. City from Delivery_person_ID ----> city

2. Bucket cities into Zones - North, South, East, West  ----> city_zone

3. Time taken to pick up delivery using Time_Orderd and Time_Order_picked ----> pickup_time

4. Time of the day - Morning, Lunch, Evening, Night, Midnight ----> day_zone

5. To clean up target variable - Time_taken(min)

6. Bucket Age - Delivery_person_Age ----> life_stage

7. Features using Latitude and Longitude ----> geosidic

In [ ]:
7. 

# from geopy.distance import geodesic 

# train['distance_diff_KM']=np.zeros(len(train))
# restaurant_cordinates_train=train[['Restaurant_latitude','Restaurant_longitude']].to_numpy()
# delivery_location_cordinates_train=train[['Delivery_location_latitude','Delivery_location_longitude']].to_numpy()

# for i in range(len(train)):
#     train['distance_diff_KM'].loc[i]=geodesic(restaurant_cordinates_train[i],delivery_location_cordinates_train[i])